# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log


# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Vercel
.vercel

# Uploads (imágenes temporales)
/tmp/
uploads/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
*~